/* =================== Main Content =================== */
section{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
}

#contactForm{
  border: 1px solid #ccc;
}