
<nav>
    <a href="#" class="logo"><img src="/Img/Logo.webp" alt="Logo NovaTech"></a>
    <div class="menu-toggle" id="menu-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <ul class="menu">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/Pages/info.html">About us</a></li>
        <li><a href="/Pages/contacto.html">Contacto</a></li>
        <li><a href="/Pages/ofertas.html">Ofertas</a></li>
        <li class="login-buttons">
            <button>Regístrate</button>
            <button>Iniciar sesión</button>
        </li>
    </ul>
</nav>