<nav>
    <a href="/index.html" class="logo"><img src="/Img/Logo.webp" alt="Logo NovaTech"></a>
    <div class="menu-toggle" id="menu-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <ul class="menu">
        <li><a href="/index.html" id="btnInicio"><i class="fa-solid fa-laptop"></i>Inicio</a></li>
        <li><a href="/Pages/ofertas.html"><i class="fa-solid fa-capsules"></i>Ofertas</a></li>
        <li><a href="/Pages/contacto.html"><i class="fa-regular fa-address-book"></i>Contacto</a></li>
        <li><a href="/Pages/Info.html"><i class="fa-regular fa-address-card"></i>Acerca de nosotros</a></li>
    </ul>

</nav>